<!-- templates/about/author.html -->
{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1>Привет, меня зовут Арсен Григорян</h1>
<p>
    Я практически бекенд разработчик. Просто посмотрите этот прекрасный сайт с постами. Чуть позже, когда пройду 4 спринт моего обучения
    этому прекрасному искусству, я добавлю свое резюме, мои фотографии и еще больше интересной информации обо мне.
    Тут я размещу информацию о себе, используя свои умения верстать.
</p>
{% endblock %}