{% extends 'base.html' %}
{% block title %}
<title>Записи сообщества {{ group }}</title>
{% endblock %}
{% block content %}
<h1>Записи сообщества {{ group }}</h1><br>
<h3>{{ group.description }}</h3><br>
{% for post in posts %}
<ul>
  <li>Автор: {{ post.author.get_full_name }}</li>
  <li>Дата публикации: {{ post.pub_date|date:"d E Y" }}</li>
</ul>
<p>{{ post.text }}</p>
{% if not forloop.last %}<hr>{% endif %}
{% endfor %}
<a href="{% url 'posts:index' %}">Вернуться на главную страницу</a>
{% endblock %} 